<table class="<%= collection.first.class.to_s.downcase.pluralize %> collection">
  <thead>
    <tr>
    <% collection.first.attributes.each_pair do |field, value| %>
      <% next if [:id, :created_at, :updated_at].include?(field.to_sym) %>
      <th><%= field.titleize %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
    <% r.class.columns.each do |column|
         field, value = column.name.to_sym, r.attributes[column.name]
    %>
      <% next if [:id, :created_at, :updated_at].include?(field) %>
      <td>
        <% if column.type == :boolean %>
          <%= form_for r do |f| %>
            <%= f.check_box field, :onchange => 'this.form.submit();' %>
          <% end %>
        <% else %>
          <%= value %>
        <% end %>
      </td>
    <% end %>
      <td><%= link_to "Edit", edit_resource_url(r) %></td>
      <td><%= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
