<span style="color:red"><%=flash[:notice] %></span>
<table class="<%= resource_class.to_s.downcase.pluralize %> collection">
  <thead>
    <tr>
    <% %w{foreign_lang native_lang can_foreign can_native}.each do |field| %>
      <th><%= field.titleize %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
      <% %w{foreign native}.each do |field| %>
      <td>
      <% if ((not eval("check_"+field)) or nocheck) %>
        <%=r.attributes[field+'_lang'] %>
      <% else %>
        <%= form_for r, :url => testing_word_path(r) do |f| %>
          <%= f.text_field "#{field}_lang", :value => '',:autocomplete => 'off' %>
        <% end %>
      <% end %>
      </td>
      <% end %>
      <% %w{foreign native}.each do |field| %>
      <td>
        <%= form_for r do |f| %>
          <%= f.check_box 'can_'+field, :onchange => 'this.form.submit();' %>
        <% end %>
      </td>
      <% end %>
      <td><%= link_to "Edit", edit_resource_url(r) %></td>
      <td><%= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
